.e-dbrd-custom-bar-widget-div::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
    border-radius: 5px;
}

.e-dbrd-custom-bar-widget-div::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(198, 203, 209,0.3);
}

.e-dbrd-custom-bar-widget-div::-webkit-scrollbar-thumb {
    background-color: #C6CBD1;
    border-radius: 5px;
}

    .e-dbrd-custom-bar-widget-div::-webkit-scrollbar-thumb:hover {
        background: #808080;
    }

    .e-dbrd-custom-bar-widget-div::-webkit-scrollbar-thumb:active {
        background: #4D4D4D;
    }
